{% extends 'quote_site/base.html' %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col">
                        <input type="search" name="tag_name" placeholder="Search for tag" class="form-control form-control-borderless">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-warning" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for quote in quotes %}
                {% include "quote_site/includes/quote.html"%}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock body %}