{% extends 'quote_site/base.html' %}

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}


{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <span>{{ form.non_field_errors }}</span>
    </div>
{% endif %} 

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-4 col-md-4">
                <form method="post" action="{% url 'users:login' %}">
                    {% csrf_token %}
                    <br>
                    <div>
                        <label> <h3>Username:</h3></label>
                            {{ form.username }}
                        <span>{{ form.errors.username }}</span>
                    </div>
                    <br>

                    <div>
                        <label> <h3>Password:</h3> </label>
                            {{ form.password }}
                        <span>{{ form.errors.password }}</span>
                    </div>
                    <br>
                    <div class="grid d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Log In</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                    <div class="small text-center ">
                        <a href="{% url "users:password_reset" %}" class="text-center text-primary"><i>Forgot Password?</i></a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
{% endblock body %}