{% extends 'quote_site/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-4 col-md-4">
                <form method="POST">
                    {% csrf_token %}
                    <br>
                    <div>
                        <label> <h3>Username:</h3></label>
                            {{ form.username }}
                        <span>{{ form.errors.username }}</span>
                    </div>
                    <br>

                    <div>
                        <label> <h3>Password:</h3> </label>
                            {{ form.password1 }}
                        <span>{{ form.errors.password1 }}</span>
                    </div>
                    <br>

                    <div>
                        <label> <h3>Password confirmation:</h3></label>
                            {{ form.password2 }}
                        <span>{{ form.errors.password2 }}</span>
                    </div>
                    <br>

                    <div class="grid d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock body %}